body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #e5e6e7;
}
.header {
  display: flex;
  background: url(backgroundimage.png);
  height: auto;
  padding-bottom: 64px;
  padding-top: 72px;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.header-text {
  margin: 0 24px;
}
h1 {
  text-align: center;
  top: 0%;
  font-size: 26px;
  font-weight: 400;
  color: #e5e6e7;
  margin: 0px auto 0 auto;
}
.h1-1 {
  font-weight: 900;
}
.h1-2 {
  color: #7d83ff;
  font-weight: 600;
}
.header-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.header-subtitulo {
  text-align: center;
  color: #a5a5a5;
  bottom: 0;
  font-weight: 400;
  font-size: 13px;
}
.botao-cta {
  margin-left: auto;
  display: block;
  margin-right: auto;
  height: 50px;
  position: relative;
  top: -25px;
  padding: 0 54px;
  background-color: #1a1c4e;
  color: #d9d9d9;
  font-size: 13px;
  font-weight: 600;
  border-radius: 28px;
  cursor: pointer;
  border: none;
}
.button-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.botao-cta2 {
  align-self: center;
  background-color: #1a1c4e;
  color: #d9d9d9;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 54px;
  padding-right: 54px;
  width: fit-content;
  border-radius: 28px;
  cursor: pointer;
  border: none;
}
.background-about {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(3, 3, 12, 1) 35%,
    rgba(229, 230, 231, 1) 100%
  );
}
.about {
  max-width: 700px;
  position: relative;
  display: block;
  background-color: white;
  opacity: 100%;
  margin-top: -8px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  width: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}
.about-header {
  font-weight: 700;
  font-size: 18px;
  color: #1a1c4e;
  margin: 0px;
}
.learn {
  max-width: 700px;
  background-color: #1a1c4e;
  border-radius: 10px;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 64px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #e5e6e7;
}
.learn-header {
  font-weight: 700;
}
.format {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 64px;
  margin-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.format-header {
  font-weight: 700;
  font-size: 18px;
  color: #1a1c4e;
}
.accordion-list li label {
  border-bottom: #a5a5a5;
}
.accordion-list label + input[type="radio"] {
  display: none;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.accordion-list label + input[type="radio"]:checked + .accordion-content {
  max-height: 400px;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
}
.professor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.professor-header {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-bottom: 8px;
  color: #2f2c2c;
}
.professor-info {
  display: flex;
  justify-content: left;
  margin-right: 40px;
}
.foto-dayman {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 16px;
}
.professor-nome {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
}
.professor-curriculo {
  margin-top: 8px;
}
.professor-texto {
  max-width: 700px;
  margin-right: 24px;
  margin-left: 24px;
}
.garantia {
  max-width: 700px;
  display: flex;
  background-color: #1a1c4e;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding: 32px;
  align-items: center;
  border-radius: 10px;
}
.garantia-foto {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.garantia-texto {
  color: white;
  font-size: 13px;
  margin: 0px;
  width: 100%;
}
.cta-final-header {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  margin-bottom: 8px;
  color: #2f2c2c;
}
.cta-final-texto {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  color: #2f2c2c;
}
.ficha-inscricao {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 24px;
}
.ficha-elementos {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-left: 24px;
}
.ficha-nome {
  margin-bottom: 0px;
}
.ficha-box {
  border: 0px;
  background: #f3f3f3;
  height: 40px;
  border-radius: 30px;
  padding: 0 16px;
  font-size: 16px;
  box-shadow: 0px 1px 1px gray;
  margin: 8px 0px;
}
.ficha-opc {
  font-size: 12px;
  margin-bottom: 0px;
  color: #2f2c2c;
}
.ficha-box-opc {
  border: 0px;
  background: #f3f3f3;
  height: 40px;
  border-radius: 30px;
  padding: 0 16px;
  font-size: 16px;
  box-shadow: 0px 1px 1px gray;
  margin: 8px 0px;
}

@media (min-width: 550px) {
  .header-image {
    width: 100%;
    height: 40vh;
  }
  .ficha-opc {
    font-size: 16px;
  }
  .header-subtitulo {
    text-align: center;
    color: #a5a5a5;
    bottom: 0;
    font-weight: 400;
    font-size: 13px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top: 32px;
  }
  .about {
    margin-left: auto;
    margin-right: auto;
  }
  .learn {
    margin-left: auto;
    margin-right: auto;
  }
  .format {
    margin-left: auto;
    margin-right: auto;
  }
  .garantia {
    margin-left: auto;
    margin-right: auto;
  }
  .ficha-inscricao {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .professor {
    padding: 0px 32px;
  }
}
@media (max-height: 520px) {
}
