* {
  box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: #D6D6D6;
    color: #252323;
}
.align-center{
    align-items: center;
}
.max-width{
    max-width: 700px;
}
.row{
    display: flex;
}
header{
    background: url(img/bg-image--dark.png);
    background-size: cover;
    height: 170px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}
.header--title{
    text-align: center;
    color: #E5E6E7;
    font-weight: 600;
    margin-top: 0px;
}
.header--subtitle{
    text-align: center;
    font-size: 14px;
    color: #E5E6E7;
}
.header--subtitle--highlight{
    color: #7D83FF;

}
.section-hero--text{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.globeman{
    display: none;
}
.btn-cta--header{
    display: none;
}
.btn-cta{
    width: 200px;
    height: 60px;
    border: none;
    color: #E5E6E7;
    background-color: #234B98;
    border-radius: 60px;
    margin: 24px;
    font-size: 16px;
}
.btn-cta:hover{
    background-color: #000dff;
    cursor: pointer;
}
.section-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.section--dark{
    background-color: #C0C0C0;
}
.body--title{
   font-size: 28px;
   text-align: center;
   font-weight: 600;
}
.section-hero--subtitle{
    font-weight: 600;
    color: #252323;
    font-size: 14px;
    margin-top: 28px;
}
.body-highlight{
    color: #112EBF;
    font-weight: 700;
}
.section-benefits--list{
    display: flex;
    align-items: center;
}
.section-benefits--img{
    height: 50px;
    margin-right: 16px;
}
.section-learn-list-item{
    display: flex;
    align-items: center;
}
.section-learn-list-item-text{
    font-weight: 500;
}
.checkmark{
    height: 20px;
    margin-right: 12px;
}
.section-modules{
    margin-bottom: 60px;
    align-items: center;
}
.hidden{
    display: none;
}
.section-modules-body-title{
    font-size: 24px;
    font-weight: 600;
}
.course-module{
    background-color: #11254B;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 16px;
}
.course-module--lesson{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3064C9;

}
.course-module--lesson--last{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-module--number{
    font-size: 12px;
    color: #7D83FF ;
}
.botao-mais{
    width: 140px;
    height: 40px;
    background-color: #D9D9D9;
    border: 1px solid #11254B;
    color: #11254B;
    border-radius: 5px;
    margin: 24px;
    font-weight: 600;
}
.botao-mais:hover{
    color: #000dff;
    border: 1px solid #000dff;
    cursor: pointer;
}
.down-arrow{
    margin-left: 5px;
}
.foto-dayman{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    border: 2px solid #D6D6D6;
}
.section-teacher--title{
    font-size: 22px;

}
.section-faq-title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0px;
}
.section-faq-body-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
.section-faq-body-text{
    margin-top: 0px;
}
.section-faq--questions{
    max-width: 1175px
}

@media (min-width: 425px){
    .section-benefits{
        flex-direction: row;
    }
    .section-body{
        align-items: center;
    }
}
@media (min-width: 1020px){
    header{
        display: flex;
        flex-direction: column;
        background: url(img/bg-image--desktop.png);
        background-position: center;
        align-items: baseline;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header--title{
        font-size: 40px;
        text-align: left;
        margin-bottom: 0;
        margin-left: 90px;
    }
    .header--subtitle{
        max-width: 400px;
        text-align: left;

    }
    .body--title{
        font-size: 36px;
        max-width: 680px;
    }
    .section--hero{
        justify-content: space-between;
    }
    .section--hero--text{
        display: flex;
        flex-direction: column;
    }
    .hero--title{
        text-align: left;
    }
    .btn-cta--hero{
        display: none;
    }
    .btn-cta--header{
        display: block;
        margin-top: -50px;
    }
    .globeman{
        display: block;
        height: 360px;
    }
    .section-benefits--list{
        flex-direction: column;
    }
    .section-benefits--desktop{
        flex-direction: row;
        gap: 90px;
    }
}

.form-modal-wrapper {
  position: fixed;
  top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.form-modal-content {
  background: #12254b;
  width: calc(100% - 96px);
  border-radius: 16px;
  padding: 32px;
  box-shadow: -1px 3px 15px -3px #000000bf;
}

.form-modal-background {
  background: #00000099;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.form-modal-wrapper:not(.active), .form-modal-background:not(.active) {
  display: none;
}

.form-modal-content form {
  color: white !important;
}

.form-modal-content form button, .form-modal-content form button:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 16px;
  cursor: pointer;
}
.form-modal-content form button:hover {
  background-color: #DDDDDD;
}

.form-modal-content form input.form-ll {
  background: white !important;
  border-radius: 16px !important;
  padding: 8px 16px !important;
  color: black !important;
}
